.following:hover::before {
  display: block;
  content: "Dejar de seguir";
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  margin-bottom: 5px;
}
